{% extends 'base.html' %}
{% load static %}
{% block top %}
        <li>
          <div><a href="service" style="text-decoration: none; border: none !important;"><h1>
                <img src="{% static '/images/location.png' %}" style="height: 30px;" >
                Find Us</h1></a>
            </div>
          </li>
          {% endblock %}
{% block changemenu %}
<li>
    <h1 style="font-size: 20px;">WelCome {{sunm}}</h1>
</li>
<li>
    <div>
        <a href="logout"><button class="btn btn-outline-secondary" style="color: #fff !important; border: 1px solid #fff;""><i class="fa fa-power-off"></i>&nbsp;Logout</button> </a>
    </div>
</li>
{% endblock %}
{% block navmenu %}
{% endblock %}
{% block navuser %}
{% endblock %}
{% block content %}
<form action="" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <div class="container mt-5 mb-3" style="display: flex;justify-content: center;align-items: center;flex-direction: column;max-width:600px !important;-webkit-box-shadow: -2px -1px 26px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -1px 26px 8px rgba(0,0,0,0.75);
    box-shadow: -2px -1px 26px 8px rgba(0,0,0,0.75);">
    <h1>ADD MAP LOCATION</h1>

        <select class="form-control mb-2" name="lt" id="">
            {% for i in l %}
            <option value="{{ i.location_title }}">{{ i.location_title }}</option>
            {% endfor %}
        </select>
        <input type="text" name="map" id="" class="form-control mb-2">
        <input type="submit" class="btn btn-success mb-2" value="Save">
    </div>
</form>
{% endblock %}