{% extends 'base.html' %}
{% load static %}
{% block top %}
        <li>
          <div><a href="service" style="text-decoration: none; border: none !important;"><h1>
                <img src="{% static '/images/location.png' %}" style="height: 30px;" >
                Find Us</h1></a>
            </div>
          </li>
          {% endblock %}
{% block changemenu %}
<li>
    <h1 style="font-size: 20px;">WelCome {{sunm}}</h1>
</li>
<li>
    <div>
        <a href="logout"><button class="btn btn-outline-secondary" style="color: #fff !important; border: 1px solid #fff;"><i class="fa fa-power-off"></i>&nbsp;Logout</button> </a>
    </div>
</li>
{% endblock %}
{% block navmenu %}
{% endblock %}
{% block navuser %}
{% endblock %}

{% block content %}
<div class="pl-3 pr-3" style="background-image: url(static/about/bg.jpg);">
    <h1 style="font-family: 'Times New Roman', Times, serif; text-align: center; padding-top: 20px;">User View</h1>
<div class="table-wrap pt-3 pb-3" style="overflow-x: scroll;">
    <table class="table table-bordered" id="myTable" style=" text-align: center; background: whitesmoke;" >
        <thead>
            <th>S.No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Gender</th>
            <th>City</th>
            <th>Role</th>
            <!--<th>Status</th>-->
            <th>Address</th>
            <th>Info</th>
            <th>UnBlock Block</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.fname }}</td>
                <td>{{ i.lname }}</td>
                <td>{{ i.username }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.password }}</td>
                <td>{{ i.gender }}</td>
                <td>{{ i.city }}</td>
                <td>{{ i.role }}</td>
                <!--<td>{{ i.status }}</td>-->
                <td>{{ i.address }}</td>
                <td>{{ i.info }}</td>
                {% if i.status %}
                    <td style="background-color: green;"><a href="{% url 'edit_delete_user' i.id 'block' %}"><img src="{% static '/images/block.png' %}" style="width: 30px; height: 30px;" alt=""></a></td>
                    {% else %}
                    <td style="background-color: red;"><a href="{% url 'edit_delete_user' i.id 'unblock' %}"><img src="{% static '/images/unblock.png' %}" style="width: 30px; height: 30px;" alt=""></a></td>
                
                    {% endif %}
                <td><a href="{% url 'edit_delete_user' i.id 'Delete' %}"><i class="fa fa-trash fa-lg" style="color: black;"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
{% endblock %}